<div class="container">
<h1>Wikienergy - Energy Disaggregation</h1>
<h2>A <b>Data Science for Social Good</b> 2014 Project</h2>
<p><%= link_to "DSSG home", "http://dssg.io"%></p>
<p><%= link_to "Github repo", "http://github.com/dssg/wikienergy"%></p>

</div>
